/node_modules
.pnp
.pnp.js
/dist
/build
*.tsbuildinfo
.env
.env.prod
.env.*.local
.env.development
.env.test
.env.production
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.db
*.db-journal
.DS_Store
Thumbs.db
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/dist
/py

kinetic-hydra-441503-h2-78e218b83450.json